* {
    margin: 0;
    padding: 0;
}
body {
    background: url(../images/woodtable.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 5px;
}
.detallesLogo {
    width: 100px;
    height: 100px;
    border-radius: 15%;
    display: inline;
}
#estiloInline {
    display: inline;
}

nav {
    ul {
        li {
            border-radius: 25%;
            &:hover{
                transition: 1s;
                background-color: rgb(171, 241, 91);
            }
        }
    }
}
.Navegador {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(212, 191, 73, 0.801);
    border-radius: 15%;
}
.header {
    background-image: url(../images/burgerandpizza.jpg);
    position: sticky;
    top: 0;
    z-index: 999;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color:rgb(236, 46, 25);
    font-style: italic;
}
a:hover {
    color: chocolate;
}
section {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;
    background: linear-gradient(to top, darksalmon, lightgreen);
    padding: 10px;
    opacity: 85%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(10, 34, 3);
}
h1 {
    position: relative;
    font-size: 40px;
    color:rgb(236, 46, 25);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    padding-right: 5px;
}
footer {
    text-align: center;
    &:hover{
        transform: scale(1,1.5);
    } 
}
.grid {
    display: grid;
    grid-template-rows: 0.2fr 1.5fr 0.1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}
#footerEnlace:hover {
    color: chocolate;
    background-color:rgb(99, 82, 44);
    border-radius: 15%;
}
.h1right {
color:rgb(236, 46, 25);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: italic;
font-weight: bold;
background-color: rgba(212, 191, 73, 0.801);
border-radius: 25px;
text-align: center;
}
.carousel-inner {
    border-radius: 5%;
}
section {
    h1 {
        animation: animacion_titulo 5s infinite;
        animation-timing-function: linear;
        position: relative;
    }
}
p {
    text-align: center;
    font-size: 29px;
    animation: scale 2s infinite;
    animation-timing-function: linear;
}
.row>* {
    padding-right: 0px !important;
}
@keyframes animacion_titulo {
    0% {text-align: left;}
    25% {text-align: center;}
    50% {text-align: right;  color: darkolivegreen;}
    75% {text-align: center;}
    100% {text-align: left;}
}    
@keyframes scale {
    0% {transform: scale(1.1); color: rgb(10, 34, 3);}
    25% {transform: scale(1);}
    50% {transform: scale(1.1); color: rgb(236, 46, 25);}
    75% {transform: scale(1);}
    100% {transform: scale(1.1); color: rgb(10, 34, 3);}
}
@media screen and (max-width: 992px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 0.1fr;
        grid-row-gap:10px;
    }
    #estiloInline {
        display: block;
    }
    #grid2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr;
        grid-row-gap: 10px;
    }
    @keyframes scale {
        0% {color: rgb(10, 34, 3);}
        50% {color: rgb(236, 46, 25);}
        100% {color: rgb(10, 34, 3);}
    }
}
@media screen and (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 0.1fr;
        grid-row-gap: 10px;
    }
    #estiloInline {
        display: block;
    }
    #grid2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.2fr;
        grid-row-gap: 10px;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .header {
        background-image: url(../images/burgerandpizza.jpg);
        position:static;
        top: 0;
        z-index: 999;
    }
    .h1right {
        display: none;
    }
}