* {
  margin: 0;
  padding: 0; }

body {
  background: url(../images/woodtable.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 5px; }

.detallesLogo {
  width: 100px;
  height: 100px;
  border-radius: 15%;
  display: inline; }

#estiloInline {
  display: inline; }

nav {
  animation: barraNavegadorAnimacion 5s infinite;
  animation-timing-function: linear; }
  nav ul li a:hover {
    transition: 1s;
    background-color: #abf15b;
    border-radius: 25%; }

.Navegador {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(212, 191, 73, 0.801);
  border-radius: 15%;
  padding-right: 2.5%; }

.header {
  background-image: url(../images/burgerandpizza.jpg);
  position: sticky;
  top: 0;
  z-index: 0; }
  .header:hover {
    z-index: 999; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: #ec2e19;
  font-style: italic;
  font-weight: none; }

a:hover {
  color: chocolate; }

div.row div {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
  border-radius: 25px;
  text-align: center;
  padding: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.hright, h1 {
  color: #ec2e19;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
  background-color: rgba(212, 191, 73, 0.801);
  border-radius: 25px;
  text-align: center; }

h1 {
  font-size: 40px;
  background-color: transparent;
  border-radius: 0%; }

footer {
  text-align: center; }
  footer:hover {
    transform: scale(1, 1.5); }

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.1fr 7fr 0.1fr;
  grid-row-gap: 10px; }

#footerEnlace:hover {
  color: chocolate;
  background-color: #63522c;
  border-radius: 15%; }

h2 {
  text-align: center;
  color: #ec2e19 !important; }

p {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
  color: #ec2e19; }

.tamanioImages {
  position: relative;
  top: 2.5%;
  width: 95%;
  height: 95%;
  object-fit: fill;
  border-radius: 25px; }

.divtitulo1 h1 {
  animation: animacion_titulo 5s infinite;
  animation-timing-function: linear;
  position: relative;
  z-index: -1; }

.div--tono1 {
  background-image: linear-gradient(to top, #e9967a, #90ee90);
  opacity: 85%; }

.div--tono2 {
  background-image: linear-gradient(to top, #d6886e, #eba81a);
  opacity: 85%; }

.div--tono3 {
  background-image: linear-gradient(to top, #c7785e, #3276ce);
  opacity: 85%; }

.div--tono4 {
  background-image: linear-gradient(to top, #bb694e, #2fbb85);
  opacity: 85%; }

.div--tono5 {
  background-image: linear-gradient(to top, #ad5d42, #bdc918);
  opacity: 85%; }

.menuDesktop {
  padding-left: 0%;
  border-radius: 25px !important; }
  .menuDesktop button {
    border-radius: 25px;
    background-image: linear-gradient(to top, brown, beige, lightblue);
    color: #2c4ee7;
    font-size: 40px;
    animation: animacion_sidebar 10s infinite !important;
    animation-timing-function: linear; }
    .menuDesktop button:hover {
      color: #ff9900; }
    .menuDesktop button:focus {
      color: #ff9900; }

.dropdown-menu {
  background-color: #80dfbb;
  opacity: 70%;
  height: 100%;
  object-fit: fill; }
  .dropdown-menu a {
    color: #1d410b;
    font-weight: bold;
    font-size: 30px; }

@keyframes animacion_titulo {
  0% {
    text-align: left; }
  25% {
    text-align: center; }
  50% {
    text-align: right;
    color: darkolivegreen; }
  75% {
    text-align: center; }
  100% {
    text-align: left; } }

@keyframes animacion_sidebar {
  0% { }
  25% { }
  50% {
    background-image: linear-gradient(to top, #bb694e, #2fbb85); }
  75% { }
  100% { } }

@keyframes barraNavegadorAnimacion {
  0% {
    background-color: rgba(212, 191, 73, 0.801); }
  25% { }
  50% {
    background-color: rgba(10, 34, 3, 0.801); }
  75% { }
  100% {
    background-color: rgba(212, 191, 73, 0.801); } }

@media screen and (max-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.1fr 22fr 0.1fr;
    grid-row-gap: 10px; }
  #estiloInline {
    display: block; }
  #grid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.4fr 0.4fr 0.1fr 0.1fr 0.4fr 0.4fr 0.1fr 0.4fr 0.1fr 0.4fr 0.4fr;
    grid-row-gap: 10px; }
  .Navegador {
    padding-right: 3.5%; }
  .menuDesktop {
    display: none; } }

@media screen and (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.1fr 15fr 0.1fr;
    grid-row-gap: 10px; }
  #estiloInline {
    display: block; }
  #grid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.4fr 0.4fr 0.1fr 0.1fr 0.4fr 0.4fr 0.1fr 0.4fr 0.1fr 0.4fr 1.5fr;
    grid-row-gap: 10px; }
  .Navegador {
    padding-right: 4%; }
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .header {
    background-image: url(../images/burgerandpizza.jpg);
    position: static;
    top: 0;
    z-index: 999; }
  #displayNone {
    display: none; }
  .menuDesktop {
    display: none; } }
