* {
    margin: 0;
    padding: 0;
}
#estiloInline {
    display: inline;
}
body {
    background: url(../images/woodtable.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 5px;
}
.detallesLogo {
    width: 100px;
    height: 100px;
    display: inline;
    border-radius: 15%;
}
nav ul li:hover {
    transition: 1s;
    background-color: rgb(171, 241, 91);
}
nav ul li {
    border-radius: 25%;
}
.Navegador {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(212, 191, 73, 0.801);
    border-radius: 15%;
}
.header {
    background-image: url(../images/burgerandpizza.jpg);
    position: sticky;
    top: 0;
    z-index: 999;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color:rgb(236, 46, 25);
    font-style: italic;
}
a:hover {
    color: chocolate;
}
footer {
    text-align: center;
}
#footerEnlace:hover {
    color: chocolate;
    background-color:rgb(99, 82, 44);
    border-radius: 15%;
}
footer:hover {
    transform: scale(1,1.5);
}
.h1right {
    color:rgb(236, 46, 25);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    background-color: rgba(212, 191, 73, 0.801);
    border-radius: 25px;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 40px;
    color:rgb(236, 46, 25);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.1fr 2fr 0.1fr;
    grid-row-gap: 10px;
}
#imagenDeFondo {
    background: linear-gradient(to top, darksalmon, lightgreen);
    padding: 10px;
    border-radius: 5%;
    opacity: 85%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(10, 34, 3);
}
.estiloMapa {
    position: relative;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    object-fit: fill; 
    border-radius: 25px;
}
#estiloBold {
    font-weight: bold;
}
dt {
    text-align: center;
    font-size: 32px;
    animation: skewX 2s infinite;
    animation-timing-function: linear;
}
dd:hover {
    transform: scale(1.1,1.1);
    font-weight: bold;
    color: rgb(56, 110, 49);
}
dl {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    color: brown;
    margin: 10px;
}
.section1 h1 {
    animation: animacion_titulo 5s infinite;
    animation-timing-function: linear;
    position: relative;
}
@keyframes animacion_titulo {
    0% {text-align: left;}
    25% {text-align: center;}
    50% {text-align: right;  color: darkolivegreen;}
    75% {text-align: center;}
    100% {text-align: left;}
}    
@keyframes skewX {
    0% {transform: skew(0deg); color: rgb(10, 34, 3);}
    25% {transform: skew(-30deg);}
    50% {transform: skew(0deg); color: rgb(236, 46, 25);}
    75% {transform: skew(30deg);}
    100% {transform: skew(0deg); color: rgb(10, 34, 3);}
}
@media screen and (max-width: 992px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.1fr 2fr 0.1fr;
        grid-row-gap: 20px;
    }
    #estiloInline {
        display: block;
    }
    #grid2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 20px;
    }
}
@media screen and (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.1fr 2fr 0.1fr;
        grid-row-gap: 20px;
    }
    #estiloInline {
        display: block;
    }
    #grid2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 20px;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .header {
        background-image: url(../images/burgerandpizza.jpg);
        position:static;
        top: 0;
        z-index: 999;
    }
    .h1right {
        display: none;
    }
}